@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Primary color */
  --primary-color-1: #F9972F;
  --primary-color-2: #FFBC3B;
  --primary-color-3: #FDF2cc;
  --primary-color-4: #FEF8E6;
  /* Secondary color */
  --secondary-color-1: #03383F;
  --secondary-color-2: #708E8E;
  --secondary-color-3: #9FB3B3;
  --secondary-color-4: #CDD7D9;

  --hilight-color: #633d2d
    /* Font */

    --H1-semi-bold: 58px;
  --H2-semi-bold: 40px;

  /*  */

  --text-medium: 24px;
  --text-regular: 22px;
  --text-small: 20px
}

* {
  box-sizing: border-box;
  margin: o;
  padding: 0;
  font-family: "Source Serif 4", serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 10px;
  padding-bottom: 1.75rem;
}

.navbar-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 120px; */
  /* align-items: flex-start; */
  /* align-items: center; */
  /* align-self: flex-start; */
  gap: 15px;
}